{% extends "base.html" %}

{% block content %}

<!-- <h1>Outside of code</h1> -->


{% for video in videos %}

	
	<div class="col-md-6 col-lg-4 movie-tile text-center" data-trailer-youtube-id="{{video.youtube_trailer}}" data-toggle="modal" data-target="#trailer" >
		<img src="{{video.poster_mov}}" alt="Poster width="220" height="342"">

		<h3>{{video.title}}</h3>
		<hr>

		<h4>{{video.duration}}</h4>
	</div>


{% endfor %}
	<br>
	<br>
	<div class="justcheckin" style="color:black">
		<h1 class="text-center">
			This is some text. Its Black. Click to make red.
		</h1>
		
	</div>


{% endblock %}